.cours-html-css {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte-voir-les-c,
.javS,
.sql,
.python {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #111827;
    background-color: #d1d5db;
}

iframe {
    margin: 10px 20px;
    width: 400px;
    height: 200px;
    border: 1px solid rgb(195, 195, 212);
    border-radius: 15px;
}

.titre-cours-voir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.titre-cours-voir h2 {
    font-size: 35px;
    color: black;
}